<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeuristicLab.TruffleConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HeuristicLab.TruffleConnector.Properties.Settings>
            <setting name="BrokerFrontend" serializeAs="String">
                <value>tcp://127.0.0.1:5555</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Retries" serializeAs="String">
                <value>3</value>
            </setting>
        </HeuristicLab.TruffleConnector.Properties.Settings>
    </userSettings>
</configuration>